@import "../../assets/variables";

.next-subject {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .class-summary {
    text-align: center;

    &,
    & span {
      font-weight: bold;
      font-family: "Segoe UI", sans-serif !important;
      text-shadow: $shadow;

      &.subject {
        color: rgb(77, 100, 233);
      }

      &.lecture {
        color: rgb(47, 172, 177);
      }

      &.exercise {
        color: rgb(42, 197, 76);
      }

      &.time {
        color: rgb(189, 145, 63);
      }

      &.room {
        color: rgb(233, 77, 137);
      }
    }

    &.next-class {
      font-size: 34px;
    }

    &.after-that {
      font-size: 28px;
    }
  }

  .week-line {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;

    .week {
      color: #ee7e7e;
    }
  }
}
