@import "../../assets/variables";

.button {
  background-color: dodgerblue;
  color: white;
  border-radius: 30px;
  padding: 14px 18px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: 0.4s;

  &:hover {
    background-color: rgb(77, 166, 255);
  }

  &.block {
    display: block;
    text-align: center;
  }

  &.disabled {
    background-color: rgb(102, 179, 255);
    cursor: not-allowed;
    &:hover {
      background-color: rgb(102, 179, 255);
    }
  }

  @media screen and (max-width: $mobileScreenSize) {
    display: block;
    text-align: center;
  }
}
