.with-background {
  &.light {
    background-image: url("/assets/img/hero-bg.jpg");
  }

  &.dark {
    background-image: url("/assets/img/hero-bg-dark.jpg");
  }

  background-size: cover;
  height: 100vh;
  width: 100%;
  .content {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
  }
}
