@import "../../assets/variables";

body {
  background-color: var(--backgroundColor);
}

.welcome {
  .container {
    margin-top: 1em;
    .logo {
      padding-left: 15px;
    }
  }
  .content {
    form {
      padding: 1em;
      min-height: 95vh;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .number-inputs {
      display: flex;
      justify-content: flex-start;

      padding: 2em 0 1em 0;

      .input-number {
        padding-right: 2em;
      }
    }

    .continue {
      margin-bottom: 2em;
    }
  }
}
