.input-number {
  display: inline-block;
  width: 10em;
  max-height: 5em;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    width: 100%;
  }

  .buttons {
    svg {
      width: 0.8em;
      fill: var(--textColor);
    }
    cursor: pointer;
    position: relative;
    top: -4.5em;
    left: 6.5em;
    padding: 1.4em;
    user-select: none;
    max-width: 1em;

    .disabled svg {
      fill: var(--textColorLight);
    }
  }
}
