* {
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: var(--backgroundColor);
  min-height: 100vh;
  width: 100%;

  color: var(--textColor);
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

.react-toast-notifications__toast {
  background-color: var(--componentBackgroundColor) !important;
  color: var(--textColor) !important;
}
